<title>TinyApp</title>
<label><%if(uservars.username){%>
Welcome <%=uservars.username%> !
<%}else {%>
Please enter a username:
<%}%>
<form method="POST" action="/login">
  <input type="text" name="username">
  <input type="submit" value="Submit">
</form>
</label>