<title>TinyApp</title>
<label><%if(user){%>
Welcome <%=user.email%> !
<form method="POST" action="/logout">
  <input type="submit" value="Logout">
</form>
<%}else{%>
  <a href="/register" style="padding-right: 10px">Register</a>
  <a href="/login">Login</a>
<%}%>
</label>
</br>