<title>TinyApp</title>
<label>
<%if(user !== undefined){%>
  Welcome <%=user.email%> !
  <form method="POST" action="/logout" style="margin: 10px">
    <input type="submit" value="Logout">
  </form>
<%}else{%>
  <a href="/register" style="padding-right: 10px">Register</a>
  <a href="/login">Login</a>
<%}%>
</label>
</br>