<title>TinyApp</title>
<div style="text-align: center; margin-top: 50px; margin-bottom: 100px">
  <%if(user !== undefined){%>
    Welcome <%=user.email%> !
    <form method="POST" action="/logout?_method=PUT">
      <input type="submit" value="Logout" style="margin: 10px">
    </form>
  <%}else{%>
    <a href="/register" style="padding-right: 10px">Register</a>
    <a href="/login">Login</a>
  <%}%>
</div>