<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    .margin {
      margin: 10px;
    }
    .center-text {
      text-align: center;
      margin: 80px 0 0 0;
    }
    .center-reduced-margin{
      text-align: center;
      margin: 40px 0 0 0;
    }
  </style>
</head>
<body>
    <div class="center-text">
    <form method="POST", action="/register">
      <div>
      <h4>Please submit the following:</h4>
      </div>
      <div class="margin">
        <label>Email:
      <input type="email", name="email">
        </label>
        <label style="margin-left: 10px">Password:
      <input type="password", name="password">
        </label>
      </div>
      </label>
      <div style="margin-top: 20px">
        <input type="submit", value="Submit">
      </div>
    </form>
    </div>
</body>
</html>