<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <!-- Add your EJS code here -->
    <form method="POST", action="/register">
      <label>Please submit the following:</br></br>
        <label>Email:
      <input type="email", name="email">
        </label>
        <label>Password:
      <input type="password", name="password">
        </label>
      </label>
      </br></br>
      <input type="submit", value="Submit">
    </form>
</body>
</html>