<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header %>
</head>
<body>
    <!-- Add your EJS code here -->
    <h2>Short URL: <b><%= entry.short%></b></h2>
    <form method="POST" action="/urls/<%= entry.short%>">
      <input type="text" value="<%=entry.long%>" name="longURL">
      <input type="submit" value="Update">
    </form>
</body>
</html>