<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <h2>Short</h2>
    <h3><%= entry.short%></h3>
    <h2>Long</h2>
    <h3><%= entry.long%></h3>
</body>
</html>